<?xml version="1.0" encoding="UTF-8"?>
<beans>
    <bean id="userDao" class="com.vow.springframework.bean.UserDao" />
    <bean id="userService" class="com.vow.springframework.bean.UserService">
        <property name="userId" value="103" />
        <property name="company" value="腾讯"/>
        <property name="location" value="深圳"/>
        <property name="userDao" ref="userDao"/>
    </bean>
    <bean class="com.vow.springframework.common.MyBeanFactoryPostProcessor"/>
    <bean class="com.vow.springframework.common.MyBeanPostProcessor"/>
</beans>